:root{
    background-color: var(--bg-color-2);
    color: var(--text-color-1);
    --bg-color-1: #1E1E1E;
    --bg-color-2: #202124;
    --bg-color-3: #0D1117;
    --text-color-1: #D1D5DB;
    --text-color-2: #F5F5F5;
    --text-color-3: #D4D4D4 ; 
    --color-link-1: #58A6FF;
    --color-link-2: #9E9E9E;
    --color-link-3: #61DAFB;
    --color-title-1: #ffffff;
    --color-title-1: #8AB4F8;
    --color-title-1: #E1E1E1;
   
}

*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    width: 95%;
    display: flex;
    
}


nav > a{
   
   color: var(--color-link-1);
   font-size: 25px;
   text-decoration: none; 

}
nav > a:hover{
    color: #8AB4F8;
    text-transform: uppercase;
}
nav > a:active{
    border: 1px solid #8AB4F8;
}
nav {
    border-right: #58A6FF;
    gap: 5px;
    margin: auto;
    margin-right: 20px;
    width: 25%;

}

main {
    margin-top: 2.5rem;
    width: 75%;
    margin-left: 5rem;
}

hr{
    color: #9E9E9E;
    border: none;
    height: 1px;
    background-color: #333;
    margin: 10px 0;

}
section{
    display: flex;
    flex-direction: column;
}
section h1{
    text-align: center;
}
p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 32px;
    font-weight: 700; /* en gras */
}

h2 {
    font-size: 24px;
    font-weight: 500; /* en gras */
    text-align: right;
}


h6 {
    font-size: 10.72px;
    font-weight: 700; /* en gras */
}

header {
    font-size: 32px;
    font-weight: bold; 
    margin-top: 1%;
    margin-bottom: 2rem;
}


 @media (max-width: 750px) {
    body{
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color-2);
        color: var(--color-link-2);
        width: 100%;
    }
    #navbar{
        text-align: center;
        top: 0;
        margin: 0 auto;
        width: 300px;
        height: 100%;
        overflow: auto;
    }
    header{
        text-align: center;
        display: block;
        margin-bottom: 1rem;
    }
   

    
   
    
} 